<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <div style="text-align:center">
          <br>
          <h1 style="color: white">
            Welcome to {{title}}
          </h1>
        </div>

        <div [hidden]="!errorMessage" class="alert alert-danger alert-dismissable">
          <a class="panel-close close" data-dismiss="alert" (click)="errorMessage=''">×</a>
          <i class="fa fa-coffee"></i>
          {{errorMessage}}
        </div>


        <p class="form-title">Sign In</p>
        <form class="login">
          <input type="text" placeholder="Username" [(ngModel)]="userName" name="userName"/>
          <input type="submit" value="Sign In" class="btn btn-success btn-sm" (click)="goToProfile()" />
          <input type="submit" value="Sign Up" class="btn btn-primary btn-sm" (click)="createProfile()" />

        </form>
      </div>
    </div>
  </div>
</div>
